
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript">
//  $( "a" ).hover(
// 		  function() {
			 
// 		    $( this ).css("background-color", "white" );
// 		  }, function() {
// 			  $( this ).css( "background-color", "none" );
// 		  }
// 		);
</script>

<nav class="navbar " role="navigation">
	<a href=""><img alt="ProFit15" src="../img/pro_fit_site_logo.png"
		style="width: 12%; margin-left: 10%"></a>
	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->

		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse proFitFontStyle">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="" class="dropdown-toggle proFitFontStyle"
					data-toggle="dropdown" role="button" aria-expanded="false">
					   MASCULINO
				    </a>
					<ul class="dropdown-menu proFitMenuFont orangeBackGr"
					     role="menu">
						<li><span class="proFitMenuFont">Linhas</span></li>
						<li><a class="proFitMenuFont" href="#/masculino/esmagacresce">Esmaga Cresce</a></li>
						<li><a class="proFitMenuFont" href="#/masculino/getbig">Get Big</a></li>
						<li><a class="proFitMenuFont" href="#/masculino/installingmuscles">Installing Muscles</a></li>
						<li><a class="proFitMenuFont" href="#/masculino/ironlie">Iron Lie</a></li>
						<li><a class="proFitMenuFont" href="#/masculino/nopainnogain">No Pain No Gain</a></li>
						<li><a class="proFitMenuFont" href="#/masculino/profit15">Pro Fit 15</a></li>
						<li><a class="proFitMenuFont" href="#/masculino/traininsane">Train Insane</a></li>
						<li><a class="proFitMenuFont" href="#/masculino/turnmutant">Turn Mutant</a></li>
<!-- 						<li class="divider"></li> -->
<!-- 						<li><a href="#">Separated link</a></li> -->
					</ul>
				</li>
				<li><a href="#/solucoes" class="proFitFontStyle">FEMININO</a></li>
				<li><a href="#/contato" class="proFitFontStyle">CONTATO</a></li>

				<li><a href="" target="_blank" class="proFitFontStyle">EMAIL</a></li>


			</ul>
		</div>

	</div>

</nav>
